doctype html
html
	head
		title= title
		link(rel='stylesheet', href='/stylesheets/style.css')
	body
		block content
		
		h1 留言板
		
		div.box
			h2 111
			p 222
		div.box2
			input(type='text')
			input(type='text')
			button 提交